* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image:linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('https://s3-alpha-sig.figma.com/img/4c66/f3ba/ad0c8afb7ddebffaf765ab83948325cb?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=sX0EYr3M-Yp~frZ8RloqiyDG7RzsTW3RGy6sCAURNv2wBigd4Stc5EJ~8t~NTxUmQQjMjb0Cnc7kSXbR7-MCcXhibWTQRiDXalsiyN9YUnOUd7ZdD5FXDGokRXvQL1-XCyfaGaZQNl3faLLQKwr3T6AhFEUsTTt~zHfqT9SzWd23w601XpJwg4MUsuY4oDen55w~t93Y3FPUd9nEIxX58enNehWIOIVBowARgIkXoKVUur21pf4mADH1J7USMVsXkIo6jGsibhXlOfXvNlBPp0x2bOltZTxlrjSbUxRIB046TuxPIpwlTUVMe3dqbB5qKE1E6YIKDvvQc7EJctvJcg__');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  nav.primero, nav.segundo {
    color: white;
    padding: 18px 22px;
    font-weight: 400;
    font-family: Inter;
    margin: 0;
    border-radius: 0;
  }
  nav.primero {
    background-color: #000000;
    width: 100%;
    height: 59px;
    font-size: 13px;
  }
  nav.segundo {
    background-color: #202020;
    font-size: 14px;
    width: 100%;
    height: 54px;
    margin-bottom: 70px;
  }
  .fondoCalculadora {
    width: 462px;
    height: 636px;
    background-color: #5F625E;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;

  }
  #resultado {
    color: #ffffff;
    background-color: #4F5B49;
    width: 100%;
    padding: 15px 25px 15px 15px;
    font-size: 40px;
    text-align: right;
    border: none;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 93px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
  }
  #resultado::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }

  .teclas {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
  }

  .operador, .numero {
    width: 100%;
    height: 70px;
    font-size: 30px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0px 4px 10px 3px #00000080;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .operador {
    background-color: #F39C11;
    color: #ffffff;
  }

  .numero {
    background-color: #ffffff;
    color: #000000;
  }

  @media (max-width: 500px) {
    .calculadora {
      width: 90%;
      height: auto;
    }
  }